# Data Scinence Tools and Ecosystem

This is a jupyter notebook file that conmcludes all my learnings in the Toolss for Data Science Course in Coursera provided by IBM.

Some of the popular languages that Data Scientists use are:
- Pyhthon
- R
- SQL
- Julia
- Java
- JavaScript

All Data Science Libraries
1. Pandas
2. Numpy
3. Keras
4. Matplotlib
5. Seaborn
6. Pytorch

|Data Science Tools|
|---|
|Juyter Notebook|
|Tableau|
|Julia|
|R Studio|
|Anaconda|

Below are a few examples of evaluating arithmetic expressions in Python:
- 5+3*2 = 11
- 6%2 = 0
- 7%2 = 1
- 3**2 = 9

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
minute = 200
hour = minute/60
hour

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List expamples of arithemetic expressions in Python
- List popular libraries for Data Science

## Author
Anson Lai