Week 6 Assignment

This is a jupyter notebook file that conmcludes all my learnings in the Toolss for Data Science Course in Coursera provided by IBM.

All Data Science Languages:
- Pyhthon
- R
- SQL
- Julia
- Java
- JavaScript

All Data Science Libraries
- Pandas
- Numpy
- Keras
- Matplotlib
- Seaborn
- Pytorch

|Data Science Tools|
|---|
|Juyter Notebook|
|Tableau|
|Julia|

Below are a few examples of evaluating arithmetic expressions in Python:
- 5+3*2 = 11
- 6%2 = 0
- 7%2 = 1
- 3**2 = 9

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3+5)*2

16

In [12]:
#This will convert 130 minutes to hours by diving by 60
minute = 130
hour = minute/60
hour

2.1666666666666665

Objectives:
- List popular languages for Data Science
- List expamples of arithemetic expressions in Python
- List popular libraries for Data Science

## Author
Anson Lai